body {
  background-image: none;
  color: rgb(233, 231, 231);
  background-color: rgba(21, 207, 167, 0.674);
  /*background-color: rgb(21, 207, 167, 0.674);*/
  /*background-color: rgb(192,192,192);*/
  /*background: url("flow.png");*/
}

body {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  text-transform: uppercase;
  color: red;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h2 {
    text-align: center;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

p {
  color: white;
  font-size: 1.2rem;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}


strong {
   /*color: #12aa68;*/
  fonrt-size: 1.0rem;
  color:  hsl(111, 83%, 42%);
  font-family: 'Montserrat', sans-serif;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: rgb(122, 20, 20);
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 15px solid rgb(112, 16, 48);
  width: 100%;
}



