body {
  background-color: rgb(192,192,192);
  /*background: url("flow.png");*/
}
h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
strong {
   color: #0b3434;
  font-family: 'Montserrat', sans-serif;
}
.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: rgb(122, 20, 20);
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 15px solid rgb(112, 16, 48);
  width: 100%;
}


body {
 font-family: Arial, sans-serif;
}
calendar {
 width: 100%;
 max-width: 600px;
 margin: auto;
}
month {
 text-align: center;
 background-color: #1abc9c;
 color: white;
 padding: 20px;
}
month ul {
 list-style-type: none;
 padding: 0;
}
month li {
 display: inline-block;
}
weekdays, .days {
 list-style-type: none;
 padding: 0;
}
weekdays li, .days li {
 display: inline-block;
 width: calc(100% / 7);
 text-align: center;
}
days li {
 margin-bottom: 10px;
}
days li .active {
 background-color: #1abc9c;
 color: white;
}
